html,
body {
  background-image: url(../assets/features-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;


}

.login {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFB548;
    position: relative;
}

.login-form {
  position: absolute;
  left: 65.52%;
  width: 380px;
  height: 450px;
  padding: 20px;
  background-color: #222d32 !important;
  border-radius: 10px !important;
}

input[type="email"],
input[type="password"]{
  background: #1a2226;
  color: white;
  border: 2px solid #FFB548;
  margin-bottom: 25px;
  border-radius: 10px;
}

input[type="email"]:focus,
input[type="password"]:focus{
  outline: none;
  border: none;
  background: #1a2226;
  color: white;
  margin: 0;
}

.card-title {
  font-weight: 900;
  padding-top: 20px;
}

.btn {
  background: #FFB548 !important;
  color: #000 !important;
  transform: translateY(10px);
  font-size: 14px;
  border-radius: 10px !important;
}
  

